log
spec/tmp
tmp
.rspec

.directory

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

## Environment normalization
.bundle
/vendor/*
!/vendor/.keep

# Your tests
specs
!specs/specs.yml.template

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
